---
layout: page
---

<div class="home">

	<ul class="post-list">
	{% for post in site.posts %}
		<li>
			<h2>{{ post.title }}</h2>
			<span class="post-meta">
				{% if post.author %} {{ post.author }} {% endif %}
				• {{ post.date | date: "%b %-d, %Y" }}
				{% if post.categories %} • {{ post.categories }}{% endif %}
			</span>
			<p class="post-excerpt">{{ post.content | truncatewords: 25 }}</p>
			<p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
		</li>
	{% endfor %}
	</ul>

</div>

