<footer class="site-footer">
	<span class="social-media-list">
		<a class="icon" href="https://www.facebook.com/{{site.owner.facebook_username}}">
			<img class="icon" src="/images/icons/facebook.svg">
		</a>
		<a class="icon" href="https://www.twitter.com/{{site.owner.twitter_username}}">
			<img class="icon" src="/images/icons/twitter.svg">
		</a>
		<a class="icon" href="https://www.github.com/{{site.owner.github_username}}">
			<img class="icon" src="/images/icons/github.svg">
		</a>
	</span>
	<p><h2 class="post-meta">&copy; 2015 {{ site.author }}, All Rights Reserved.</h2></p>
</footer>
