<header class="site-header">
	<div class="site-brand">
		<a href="/"><img src="/images/logo.svg"></a>
	</div>

	<nav class="site-nav">
		<div class="nav-menu">
			<a href="/" class="brand-fixed" style="display:none;"><img src="/images/logo.svg"></a>
			<ul>
				<li>
					<a class="btn page-link {% if page.url == '/index.html' or page.categories != nil %}active{% endif %}" href="/">Blog</a>
				</li>
				{% assign sorted_pages = (site.pages | sort: 'order') %}
				{% for _page in sorted_pages %}
					{% if _page.title %}
						<li>
							<a class="page-link{% if _page.url == page.url %} active{% endif %}" href="{{ _page.url | prepend: site.baseurl }}">
								{{ _page.title }}
							</a>

						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>

</header>
