---
layout: default
---
<div class="post">
	<ul class="images row">
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/1.jpg" title="Intoy's in the pool">
					<img src="../images/post/1.jpg" alt="" />
				</a>
			</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/2.jpg" title="Xian says Peace!">
					<img src="../images/post/2.jpg" alt="" />
				</a>
			</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/3.jpg" title="with baby Intoy">
					<img src="../images/post/3.jpg" alt="" />
				</a>
			</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/4.jpg" title="Xian Sun Flower">
					<img src="../images/post/4.jpg" alt="" />
				</a>
			</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/5.jpg" title="Xian in the water floater">
					<img src="../images/post/5.jpg" alt="" />
				</a>
			</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-lg-3">
			<div class="image-thumbnail fancybox-skin">
				<a class="fancybox" rel="fancybox-button" href="../images/post/6.jpg" title="Ed and Jenya">
					<img src="../images/post/6.jpg" alt="" />
				</a>
			</div>
		</li>
	</ul>
</div>
